* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(88, 88, 88);
}

.bg {
    position: absolute;
    top: 30%;

    width: 100%;
    height: 70%;

    background: linear-gradient(aliceblue, rgb(140, 121, 165));
}

.header {
    position: absolute;
    width: 70%;
    height: 40%;

    margin: 15%;
    margin-top: 5%;
    background: rgb(48, 48, 48);


    border-radius: 5px;
}



img {
    position: absolute;

    top: 7vh;
    right: 10vh;

    width: 15vw;
    height: 25vh;

}

ul {
    position: absolute;
    left: 5vw;
    top: 20vh;
}

li {
    list-style-type: none;

    color: black;
}

h1 {
    margin-top: 5vw;
    margin-left: 5vw;
}
h2 {
    margin-left: 5vw;
}

.about {
    position: absolute;
    width: 66vw;
    height: 10vh;

    margin: 15%;
    margin-top: 60vh;
    background: rgb(48, 48, 48);

    padding: 2vw;

    border-radius: 5px;
}


h1, h2, li, p {
    font-size: 30px;
    color: aliceblue;
    font-family: monospace;
}

p {
    text-align: center;
}